<!--<div class="container">-->
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group">
        <label for="title">افزودن پروژه جدید</label>
        <input type="text" placeholder="عنوان پروژه"  class="form-control" formControlName="title" id="title">
    </div>
    <div class="form-group mr-3">
    <button class="btn btn-sm btn-success" [disabled]="!projectForm.valid">افزودن</button>
    </div>
</form>
<hr>
<h3>لیست پروژه ها</h3>
    <p *ngFor="let project of projects"><a [routerLink]="['/projects', project.id]">{{project.title}}</a></p>
<!--</div>-->