<div class="container">
    <div class="col-3"></div>
<div *ngIf="task" class="col-6">
    <div *ngIf="!showForm"  class="card">
        <div class="card-header"><h4 class="card-title">{{task.title}}</h4></div>
        <div class="card-body">
        <h5> گروه: {{task.project}}</h5>
        <h5>{{task.deadline}}</h5>
        <h5> اولویت {{task.priority}}</h5>
        <div>
            <h5 *ngFor="let lable of task.lables" [ngStyle]="{backgroundColor: lable.color}" class="badge">{{lable.title}}</h5>
        </div>
        </div>
            <div class="card-footer">
        <button class="btn btn-sm btn-warning"  (click)="changeShowForm()">ویرایش کار/ وظیفه</button>
            </div>

    </div>


    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" *ngIf="showForm">
        <div class="form-group">
            <label for="title">کار / وظیفه</label>
            <input type="text" placeholder="عنوان کار یا وظیفه"  class="form-control" formControlName="title" id="title">
        </div>
        <div class="form-group">
            <label for="project">گروه / دسته</label>
            <select formControlName="project" class="form-control" id="project">
                <option *ngFor="let project of projectService.projects" [value]="project.title">{{project.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="lables">برچسب (می توانید چند گزینه انتخاب کنید)</label>
            <select formControlName="lables" multiple  class="form-control" id="lables">
                <option *ngFor="let lable of projectService.lables" [value]="lable.title">{{lable.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="priority">اولویت</label>
            <select formControlName="priority" class="form-control" id="priority">
                <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</option>
            </select>
        </div>
        <div class="form-group">
            <dp-date-picker
                    dir="rtl"
                    [(ngModel)]="dateObject"
                    [ngModelOptions]="{standalone: true}"
                    mode="day"
                    [config]="myConfig"
                    placeholder="تاریخ ددلاین"
                    theme="dp-material">
            </dp-date-picker>
        </div>
        <button class="btn btn-sm btn-success" [disabled]="!taskForm.valid">ثبت</button>
    </form>
</div>
    <div *ngIf="!task">
        چنین تسکی وجود ندارد
    </div>
</div>
